<ul class="breadcrumb">
	<li>
		<i class="icon-home"></i>
		<a href="#/dashboard" ng-click="resetMenu()">{{home}}</a> 
		<i class="icon-angle-right"></i>
	</li>
	<li>
        <a>{{forms}}</a>
    </li>
</ul>

<div class="row-fluid">
    <form class="form-horizontal">
        <fieldset>
            <div class="control-group">
                <label class="control-label">Focused input</label>
                <div class="controls">
                    <input class="input-xlarge focused" type="text" placeholder="Input here">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Disabled input</label>
                <div class="controls">
                    <input class="input-xlarge disabled" type="text" placeholder="Disabled input here…" disabled="">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">checkbox</label>
                <div class="controls">
                    <div metro-checkbox ng-model="check" ng-disabled="disabled" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Date input</label>
                <div class="controls">
                    <div metro-datepicker ng-model="startDate" ng-disabled="disabled" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="fileInput">File input</label>
                <div class="controls">
                    <div metro-file-input ng-model="file" ng-disabled="disabled" />
                </div>
            </div>
            
            <div class="control-group">
                <label class="control-label">Plain Select</label>
                <div class="controls">
                    <select ng-disabled="disabled">
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                    <option>Option 4</option>
                    <option>Option 5</option>
                    </select>
                </div>
            </div>
            
            
            <div class="form-actions">
                <button class="btn btn-primary" ng-click="go()">Save changes</button>
                <button class="btn">Cancel</button>
            </div>
        </fieldset>
    </form>    
</div>